[submodule "np_project1"]
	path = np_project1
	url = https://github.com/tzuchiehhh/np_project1.git
[submodule "np_project2"]
	path = np_project2
	url = https://github.com/tzuchiehhh/np_project2.git
[submodule "np_project3"]
	path = np_project3
	url = https://github.com/tzuchiehhh/np_project3.git
[submodule "np_project4"]
	path = np_project4
	url = https://github.com/tzuchiehhh/np_project4.git
